.styles li{
display: flex;
justify-content: space-between;
align-items: center;
padding: .5rem 1rem;
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: .5rem;
}
.styles input{
margin-right: 1rem;
}
.rm{
    background: rgb(209, 168, 168);
    border-radius: 7px;
    color: #fff;
    border: none;
}
.done {
    text-decoration: line-through;
}